.section-client-detail {
    display: block;
    margin: 0 auto;
    width: 60%;

    &--info {
        h2 {
            text-align: center;
            font-size: 2.2rem;
            font-weight: 700;
            margin-bottom: 1rem;
        }
    }

    &--yt {
        margin: $spacer-5 0 $spacer-6 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: $spacer-4;

        iframe {
            width: 100%;
        }
    }
}